{% extends "users/base.html" %}

{% block head_content %}
<title>Platzigram | Login</title>
{% endblock %}

{% block container %}

    {% if message %}
        <p class="alert alert-danger"> {{ message }}</p>
    {% endif %}
    <form method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn btn-primary btn-block" type="submit"> Ingresar </button>

    </form>

    <p class="mt-4">
        Don't have an account yet ? <a href="{% url 'users:signup' %}"> Sign up here.</a> 
    </p>

{% endblock%}
