{% extends "users/base.html" %}

{% block head_content %}
<title>Platzigram | Sign up</title>
{% endblock %}

{% block container %}

    <form action="{% url 'users:signup' %}">
        {% csrf_token %}
        
        <div class="div form-group">
            <input class="form-control" type="text" placeholder="Username" name="username" required />
        </div>
        
        <div class="div form-group">
            <input class="form-control" type="password" placeholder="Password" name="password" required />
        </div>

        <div class="div form-group">
            <input class="form-control" type="text" placeholder="Username" name="username" required />
        </div>
    </form>

{% endblock%}